.popup-bg {
  background: rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
}

.popup {
  width: 30%;
  min-width: 300px;
  background-color: #fff;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup-header {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  padding-bottom: 10px;
}

.popup-header h2 {
  display: inline-block;
}

.popup-header span {
  float: right;
  color: #aaa;
  cursor: pointer;
}

.popup-content {
  padding: 20px 0;
}

.popup-footer {
  padding-top: 30px;
  width: 100%;
  line-height: 32px;
}

.popup-footer__confirm {
  float: right;
  background: #55efc4;
  padding: 5px 10px;
  color: white;
}

input {
  font-family: inherit;
}